@model MvcWebProject.Models.Entity

@{
    ViewBag.Title = "Link Entity";
}

<h2>Link Entity</h2>

<ul>
    <li>@Html.ActionLink("Record Add", "Add", "Home")</li>
    @*<li>@Html.ActionLink("Record Delete", "Delete", "Home")</li>*@
    <li>@Html.ActionLink("Record List", "List", "Home")</li>
    <li>@Html.ActionLink("Record Search", "Search", "Home")</li>
</ul>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


